<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Update user</title>
</head>
<body>
        <a th:href="@{/user}">Back to user list</a>
        <form th:action="@{/user/add_user}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div>
                <label class="username">Username</label>
                <input type="text" th:field="*{userName}" id="name" placeholder="Username" />
                <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name can not be less than 4 letters</td>
            </div>
            <div>
                <label class="email">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email" />
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email</td>
            </div>
            <div>
                <label class="birthday">BirthDay</label>
                <input th:type="text" th:field="*{birthDay}" id="birthday" placeholder="Birthday" />
                <td th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}">incorrect format of date</td>
            </div>
            <button type="submit" id="btn-save">Save</button>
        </form>
</body>
</html>