<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update form</title>
</head>
<body>
    <a th:href="@{/user}">Back to user list</a>
    <form th:action="@{/user/update}" th:object="${user}" th:method="put">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label class="username">Username</label>
            <input type="text" th:field="*{userName}" placeholder="Username" />
        </div>
        <div>
            <label class="email">Email</label>
            <input type="text" th:field="*{email}" placeholder="Email" />
        </div>
        <div>
             <label class="birthday">BirthDay</label>
            <input type="text" th:field="*{birthDay}" placeholder="Birthday" />
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>